@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ember-basic-dropdown';

.royal-table {
  @apply table-auto border text-left mb-4;

  thead {
    @apply bg-light;

    tr {
      @apply border-b;

      th {
        @apply px-4 py-4 text-dark font-normal whitespace-nowrap;

        &[type="button"] {
          @apply cursor-pointer select-none;
        }

        svg {
          width: 1em;
          height: 1em;
          bottom: .1em;
          position: relative;
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        @apply bg-light;
      }

      td {
        @apply px-4 py-2 text-text;
      }
    }
  }
}
