<LinkTo @route={{@route}} @model={{@model}} @activeClass="bg-text" class="flex items-center px-4 py-2 rounded-md text-gray hover:bg-text">
  {{#if @icon}}
    <@icon />
  {{/if}}
  <span class="{{if @icon 'mx-4'}} font-medium">{{@name}}</span>
</LinkTo>
