<div
  {{did-insert this.initEditor}}
  {{did-update this.updateValue @value}}
  class='border mb-4'
  ...attributes
></div>

{{yield (hash editor=this.editor triggerSendValue=this.triggerSendValue)}}
