<div class='max-w-screen overflow-x-auto'>
  <table class='royal-table' ...attributes>
    {{#if @caption}}
      <caption>
        {{@caption}}
      </caption>
    {{/if}}
    <thead>
      <tr>
        {{yield
          (component
            'royal-table/column'
            place='head'
            onClickHead=@onClickHead
            onSort=@onSort
            sortingProp=@sortingProp
            sortingIconComponent=@sortingIconComponent
            parent=this
          )
        }}
      </tr>
    </thead>
    <tbody>
      {{#each @data as |item index|}}
        <tr>
          {{yield
            (component 'royal-table/column' place='body' data=item parent=this)
            item
            index
          }}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
