<Toast>
  <div class='inline-flex flex-shrink-0 justify-center items-center self-start'>
    <Icons::Loading @spin={{true}} class='mr-4' />
  </div>

  <div>
    {{@text}}
  </div>

  <button
    type='button'
    class='ml-auto self-start'
    {{! data-dismiss-target='#toast-default' }}
    aria-label='Close'
    {{on 'click' @onClose}}
  >
    <Icons::Close />
  </button>
</Toast>
