<LinkTo
  @route={{@route}}
  @model={{@model}}
  @activeClass="text-primary border-primary"
  class="flex items-center h-10 px-2 py-2 -mb-px text-center bg-transparent border-b-2 -px-1 whitespace-nowrap focus:outline-none"
>
  {{#if @icon}}
    <MdIcon @icon={{@icon}} class="mr-4" />
  {{/if}}
  <span class="text-sm">{{@text}}</span>
</LinkTo>
