<div class='grid grid-cols-3 gap-1 p-1 rounded bg-base-6' ...attributes>
  {{#each this.themes as |item|}}
    {{#let (eq item.id this.theme) as |selected|}}
      <Button
        @text={{item.name}}
        @icon={{item.icon}}
        @onClick={{fn this.changeTheme item.id}}
        @size='sm'
        class='border-none {{if selected "bg-base-7 shadow-sm"}}'
      />
    {{/let}}
  {{/each}}
</div>
