<label class="flex items-center cursor-pointer" {{on "click" this.onChange}} ...attributes>
  {{#if @checked}}
    <Icons::CheckboxOutline @size={{22}} class="mr-1"/>
  {{else}}
    <Icons::CheckboxBlankOutline @size={{22}} class="mr-1"/>
  {{/if}}
  {{@label}}
</label>
