{{#let (array @model.index.uid (get @model.document @model.index.primaryKey)) as |models|}}
  <div class="flex mb-4">
    <Tab @route="admin.indexes.item.documents.document.index" @text="View" @models={{models}} />
    <Tab @route="admin.indexes.item.documents.document.edit" @text="Edit" @models={{models}} />
    <Tab @route="admin.indexes.item.documents.document.delete" @text="Delete" @models={{models}} />
  </div>
{{/let}}

{{outlet}}
