<span ...attributes>
  {{#if @sortable}}
    {{#if @isAscSorted}}
      <Icons::ArrowDown />
    {{else if @isDescSorted}}
      <Icons::ArrowUp />
    {{else}}
      <Icons::ArrowUpDown />
    {{/if}}
  {{/if}}
</span>
