{{page-title "Indexes"}}

<div class="flex flex-row min-h-screen w-full">
  <aside class="flex flex-col w-64 p-base">
    <nav>
      <ul>
        {{#each @model as |item|}}
          <li>
            <LinkTo
              @route="admin.indexes.item"
              @model={{item}}
              class="flex flex-row items-center h-12 px-base"
            >
              {{item.name}}
            </LinkTo>
          </li>
        {{/each}}
      </ul>
    </nav>
  </aside>
  <main class="main flex flex-col flex-grow">
    {{outlet}}
  </main>
</div>
