@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-gray-darkest: 36 36 36;
    --color-gray-dark: 66 66 66;
    --color-gray: 97 97 97;
    --color-gray-light: 199 199 199;
    --color-gray-lightest: 209 209 209;
  }

  body {
    @apply text-gray-dark;
  }
}

.royal-table {
  @apply table-auto border text-left mb-4;

  thead {
    @apply bg-gray-light;

    tr {
      @apply border-b;

      th {
        @apply px-4 py-4 text-gray-dark font-normal whitespace-nowrap;

        &[type="button"] {
          @apply cursor-pointer select-none;
        }

        svg {
          width: 1em;
          height: 1em;
          bottom: .1em;
          position: relative;
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        @apply bg-gray-light;
      }

      td {
        @apply px-4 py-2 text-gray-darkest align-top;
      }
    }
  }
}
