@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @define-mixin light-vars {
    --color-base-1: 36 36 36;
    --color-base-2: 66 66 66;
    --color-base-3: 97 97 97;
    --color-base-4: 199 199 199;
    --color-base-5: 209 209 209;
    --color-base-6: 245 245 245;
    --color-base-7: 255 255 255;
  }

  @define-mixin dark-vars {
    --color-base-1: 255 255 255;
    --color-base-2: 245 245 245;
    --color-base-3: 209 209 209;
    --color-base-4: 199 199 199;
    --color-base-5: 97 97 97;
    --color-base-6: 66 66 66;
    --color-base-7: 36 36 36;
  }

  :root {
    @mixin light-vars;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      @mixin dark-vars;
    }
  }

  :root[data-theme='light'] {
    @mixin light-vars;
  }

  :root[data-theme='dark'] {
    @mixin dark-vars;
  }

  body {
    @apply text-base-2;
    @apply bg-base-7;
  }

  p {
    @apply mb-4;
  }
}

.royal-table {
  @apply table-auto border text-left mb-4;

  thead {
    @apply bg-base-4;

    tr {
      @apply border-b;

      th {
        @apply px-4 py-4 text-base-2 font-normal whitespace-nowrap;

        &[type='button'] {
          @apply cursor-pointer select-none;
        }

        svg {
          width: 1em;
          height: 1em;
          bottom: 0.1em;
          position: relative;
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        @apply bg-base-4;
      }

      td {
        @apply px-4 py-2 text-base-6 align-top;
      }
    }
  }
}
