<div class='flex flex-col justify-center min-h-screen'>
  <div class='mx-auto text-center'>
    <h1 class="text-8xl mb-4">404</h1>
    <h2 class="text-4xl mb-4">Page not found</h2>
    <LinkTo @route="application">Go back home</LinkTo>
  </div>
</div>
